# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
env/

# ===============================
# Pytest
# ===============================
.pytest_cache/
.coverage
htmlcov/
.cache/

# ===============================
# Playwright
# ===============================
playwright/.cache/
videos/
traces/
screenshots/

# ===============================
# Allure
# ===============================
allure-results/
allure-report/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# IDE / OS
# ===============================
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Temporary files
# ===============================
*.tmp
*.bak
*.swp
*.swo
